<h1>About</h1>
	<p>
		This is a web application created for the sole purpose of facilitating the application submission process to Medtronic's internal app store. This web application aims to replicate the process that involved the repeated exchange of clunky Word  documents.
	</p>
		