<div class="center hero-unit">
  <h1>Welcome to the App Submission Web Application!</h1>

  <h2>
    This is the home page for the new App Submission web application! This web app will facilitate the addition of new applications to Medtronic's own internal App Store.
  </h2>

  <%= link_to "Submit an app now!", 'new_path', class: "btn btn-large btn-primary" %>
</div>
