<footer class="footer">
  <small>
    <a href="/">App Submission</a>
    by Brandon Smith
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help",   help_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>