<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-left">
          <a class="brand" href="/">App Submit</a>
          <li><%= link_to "Submit an app", new_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "About", about_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>